# Logs
frontend/logs
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

# Editor directories and files
*.vscode/*
!.vscode/extensions.json
*.idea
*.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sh
backend/bin
backend/obj

frontend/.pnp
*.pnp.js
*.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
*.pem

# local env files
*.env

# vercel
*.vercel

# typescript
*.tsbuildinfo
*next-env.d.ts
