html {
    background: rgb(7, 7, 7);
    color: rgb(247, 247, 247);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0.5em;
}

a {
    color: rgb(129, 142, 255);
    text-decoration: unset;
}

a:visited {
    color: rgb(66, 68, 209);
}

a:hover {
    color: rgb(182, 189, 255);
    text-decoration: underline;
}