.bg-default-dark {
  background-color: #111315;
}

.bg-default-dark-light {
  background-color: #1e2123;
}

.text-default-dark {
  color: #dee4ea;
}

.border-default-dark {
  border-color: #596773;
}

.h-5p {
  height: 5%;
}

.animation-appear {
  animation: appear 1.5s;
}

@keyframes appear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}