.bg-default-dark {
  background-color: #111315;
}

.bg-default-dark-light {
  background-color: #1e2123;
}

.text-default-dark {
  color: #dee4ea;
}

.border-default-dark {
  border-color: #596773;
}

.h-5p {
  height: 5%;
}

.animation-appear {
  animation: appear 1.5s;
}

.project-card {
  background: linear-gradient(
      to bottom,
      rgba(17, 19, 21, 0.7),
      rgba(17, 19, 21, 1)
    ),
    url('https://avatars.githubusercontent.com/u/47826279?s=200&v=4');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#hfactions {
  background: linear-gradient(
      to bottom,
      rgba(17, 19, 21, 0.7),
      rgba(17, 19, 21, 1)
    ),
    url('https://cdn.discordapp.com/attachments/293011429555044354/1209896941161549884/h.png?ex=65e89755&is=65d62255&hm=823d548111fd2208eedbb1710bf1a332e645412484703e67b11a0f5b1534c81f&');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#hfactions:hover {
  background-size: 110%;
}

.project-card:hover {
  background-size: 110%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
