$default-background: #181818;
$default-background-dark: #0c0c0c;
$default-background-light: #2c2c2c;

$default-border-color: #252525;

$default-text-color: #e3e3e3;

.bg-default {
  background-color: $default-background;
}

.bg-default-dark {
  background-color: $default-background-dark;
}

.bg-default-light {
  background-color: $default-background-light;
}

.border-color-default {
  border-color: $default-border-color;
}

.text-default {
  color: $default-text-color;
}

.text-footer {
  color: #5a5a5a;
  a {
    &:hover {
      color: #bbbbbb;
    }
  }
}

.font-bold {
  font-weight: bold;
}

.link-list {
  display: flex;
  gap: 0.25rem;
}

.link-list_footer {
  display: flex;
  gap: 0.5rem;
}

:root {
  font-family: 'JetBrains Mono Variable';
  font-weight: 300;
}

.page-container {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  height: 5rem;
  border-bottom-width: 1px;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.page-body {
  flex: auto;
  overflow-y: auto;
  padding: 0.5rem;
}

.page-footer {
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  border-top-width: 1px;
  align-items: center;
  padding: 0.5rem;
}

.logo-link {
  display: flex;
  font-size: 1.5rem;
  line-height: 2rem;
  align-items: center;
}

.header-logo {
  width: 2.5rem;
}

.header-link {
  border-radius: 0.375rem;
  padding: 0.25rem;
  &:hover {
    background-color: $default-background-light;
  }
}

.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.logo-animation {
  animation: logo-animation 2s;
}

@keyframes logo-animation {
  0% {
    transform: translateX(-20rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-right-width: 1px;
  border-color: $default-border-color;
  width: 22rem;
}

.home-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}

.home-imagetext {
  font-size: 115%;
  border-top-width: 1px;
  border-color: $default-border-color;
  min-width: 25rem;
  max-width: 50rem;
  padding-top: 0.2rem;
  text-align: center;
}

.home-background {
  width: 100%;
  height: 93.5%;
  animation: background-appear 2.5s;
  object-fit: cover;
}

@keyframes background-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-title {
  font-size: 220%;
  font-weight: bold;
  line-height: 3.5rem;
}

.home-subtitle {
  font-size: 110%;
}

@media (min-width: 768px) {
  .page-container {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .page-header {
    flex-direction: row;
    height: 3.5rem;
  }
}

@media (max-width: 768px) {
  .home-row {
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
  }

  .home-left {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 0;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .home-right {
    width: 100%;
    padding-left: 0;
  }
}
